language: rust

matrix:
  include:
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly
      addons:
        apt:
          packages:
            - dos2unix

    - env: TARGET=thumbv7m-none-eabi
      rust: nightly

before_install: set -e

install:
  - sh ci/install.sh

script:
  - bash ci/script.sh

after_script: set +e

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    # release tags
    - /^v\d+\.\d+\.\d+.*$/
    - staging
    - trying

notifications:
  email:
    on_success: never
